<!doctype html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="/js/js.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
 <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/order.css" />
  <script src="/js/order.js"></script>
  <script src="/js/basic.js"></script>
  <title>배달 사이트</title>
  <!-- head 태그 안에 추가 -->
  <script th:inline="javascript">
    /* 타임리프를 통해 받아온 reviews 데이터를 JSON 문자열로 변환하여 JavaScript 변수에 할당 */
    let reviewsData = /*[[${reviews}]]*/ '[]';
    let store = /*[[${store}]]*/ '[]';
  </script>
</head>
<body>
<div class="header" style="position:relative;">
  <div>
    다이아 배민
  </div>
  <span id="history-back-text">
        <a href="javascript:window.history.back();" style="font-size: 40px;">⬅</a>
    </span>
  <span id="logo-left" style="cursor: pointer;">
       <img src="/images/logo.png" />
    </span>
  <span id="login-user-greet-text">
        <span id="username"></span> 님
    </span>
  <a id="my-page-text" href="javascript:moveMyPage()">
    마이페이지
  </a>
  <a id="login-text" href="javascript:logout()">
    로그아웃
  </a>
</div>

<!-- Main -->
<div id="main">
  <div class="container">
    <div class="header">
      <h1 th:text="${store.name}"></h1>
      <h2 th:text="${store.introduction}"></h2>
      <div class="rating">
      </div>
      <button class="scrap-button" onclick="scrap()">스크랩</button>
      <button class="scrap-button" onclick="cancelScrap()">스크랩 취소</button>
    </div>
    <div class="tabs">
      <button class="tab-button active" onclick="openTab('menu')">메뉴</button>
      <button class="tab-button" onclick="openTab('info')">정보</button>
      <button class="tab-button" onclick="openTab('review')">리뷰</button>
    </div>
    <div class="tab-content active" id="menu">
      <div class="menu-list">
        <!-- 반복문으로 메뉴 아이템 생성 -->
        <div class="menu-item" th:each="item : ${products}" >
          <span name="productId" th:text="${item.id}"></span>
          <img name="imageUrl" th:src="${item.imageUrl}" alt="메뉴 이미지">
          <h3 name="productName" th:text="${item.productName}"></h3>
          <p name="description" th:text="${item.description}"></p>
          <span name="price" th:text="${item.price}">가격: 10,000원</span>
          <button class="add-to-cart-button">담기</button>
        </div>
      </div>
    </div>
    <div class="tab-content" id="info">
      <h2>정보 탭 컨텐츠</h2>
      <p>정보 내용을 여기에 추가하세요.</p>
    </div>
    <div class="tab-content" id="review">
      <h2>리뷰 탭 컨텐츠</h2>
      <div class="review-list">
        <!-- 반복문으로 review 아이템 생성 -->
        <div class="review-item" th:each="review : ${reviews}">
          <img th:src="${review.imageUrl}" alt="리뷰 이미지">
          <p th:text="${review.content}"></p>
          <div class="stars">
            <i th:class="${'fas fa-star ' + (review.rate >= 1 ? 'checked' : '')}"></i>
            <i th:class="${'fas fa-star ' + (review.rate >= 2 ? 'checked' : '')}"></i>
            <i th:class="${'fas fa-star ' + (review.rate >= 3 ? 'checked' : '')}"></i>
            <i th:class="${'fas fa-star ' + (review.rate >= 4 ? 'checked' : '')}"></i>
            <i th:class="${'fas fa-star ' + (review.rate >= 5 ? 'checked' : '')}"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="cart">
      <h2>장바구니</h2>
      <ul id="cart-items">
        <!-- 여기에 담은 목록이 동적으로 추가될 예정입니다. -->

      </ul>
    </div>
    <button id="order-button" class="dia-btn-gradient cyan small" style="cursor: pointer;">주문하기</button>

  </div>

</div>
</body>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>

</html>