<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mypage.css" />
    <script src="/js/basic.js"></script>
    <script src="/js/mypage.js"></script>
    <title>배달 사이트</title>
</head>
<body>
<div class="detail-header" style="position:relative;">
    <div class="detail_header_div">
        다이아 배민
    </div>
    <a id="login-text" href="javascript:logout()">
        로그아웃
    </a>
</div>
<!-- Main -->
<div id="main">
    <div class="wrap">
        <div class="summaryContainer">
            <div class="item">
                <div class="number" id="scrap"></div>
                <div>찜한상점</div>
            </div>
            <div class="item">
                <div class="number" id="review"></div>
                <div>상점후기</div>
            </div>
        </div>
        <div class="shippingStatusContainer">
            <div class="title">
                주문조회
            </div>
            <div class="status">

                <div class="item">
                    <div>
                        <div class="number" id="created"></div>
                        <div class="text">주문생성</div>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div class="green number" id="done"></div>
                        <div class="text">주문완료</div>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div class="green number" id="canceled"></div>
                        <div class="text">주문취소</div>
                    </div>
                </div>

            </div>

        </div>
        <div id="orderDataContainer"></div>
        <div class="listContainer">
            <a href="#" class="item">
            <button id="my-page-btn-profile" onclick="onProfile()">프로필수정</button>
            <button id="my-page-btn-store-save" onclick="onStoreSave()">가게등록</button>
            </a>
        </div>
    </div>

</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>

</body>
</html>



