<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
상품 리스트 출력 및 수정하는곳
<!--<div class="menu-item" th:each="item : ${products}" >-->
<!--    <span name="productId" th:text="${item.id}"></span>-->
<!--    <img name="imageUrl" th:src="${item.imageUrl}" alt="메뉴 이미지">-->
<!--    <h3 name="productName" th:text="${item.productName}"></h3>-->
<!--    <p name="description" th:text="${item.description}"></p>-->
<!--    <span name="price" th:text="${item.price}">가격: 10,000원</span>-->
<!--    <button class="add-to-cart-button">담기</button>-->
<!--</div>-->



</body>
</html>