<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css" />
    <script src="/js/profile.js"></script>
    <title>배달 사이트</title>
</head>
<body>
<div class="detail-header" style="position:relative;">
    <div class="detail_header_div">
        다이아 배민
    </div>
    <!--headr-->
    <!--    <div id="header-title-login-user">
            <span id="username"></span> 님의
        </div>-->
    <!--   <div id="header-title-select-shop">
           Select Shop
       </div>-->
    <a id="login-text" href="javascript:logout()">
        로그아웃
    </a>
</div>
<!-- Main -->
<div id="main">

    <!-- Contact -->
    <section id="contact" class="four">
        <div class="container">
            <header>
                <h2 >나의 프로필</h2>
                <div></div>
            </header>
            <form method="post" action="#">
                <div class="row">
                    <div style="width:20%;"></div>
                    <div style="width:60%;">
                        <div class="image" >
                            <img src="https://via.placeholder.com/300.jpg" alt="300 * 300 size image" />
                        </div>
                        <div class="name" ><h6>이름</h6></div>
                        <div class="col-6 col-12-mobile" >
                            <input type="text" name="name" />
                        </div>
                        <div class="off-13"></div><div><h6>Email</h6></div>
                        <div class="col-66 col-12-mobile"><input type="text" name="email"  /></div>
                        <div  class="col-13"><h6>나의 소개</h6></div>
                        <div class="col-12">
                            <textarea name="message" ></textarea>
                        </div>
                        <div  class="col-13"><h6>주문내역</h6></div>
                        <div class="aln-left">
                            <input type="submit" value="비밀번호 수정하기" />
                        </div>
                        <div class="aln-left">
                            <button id="my-page-btn-withdrawal" onclick="onWithdrawal()">회원탈퇴</button>
                        </div>
                        <div class="off-7">
                            <input type="submit" value="수정하기" />
                        </div>
                    </div>
                    <div style="width:20%;"></div>
                </div>
            </form>

        </div>
    </section>

</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/profile.js"></script>

</body>
</html>