<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
   <script src="/js/jquery.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <style>
        .container {

            width:50%;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css" />
    <title>배달 사이트</title>
</head>
<body>
<div class="header" style="position:relative;">
    <div>
        다이아 배민
    </div>
    <span id="history-back-text">
        <a href="javascript:window.history.back();" style="font-size: 40px;">⬅</a>
    </span>
    <span id="logo-left" style="cursor: pointer;">
       <img src="/images/logo.png" />
    </span>
    <span id="login-user-greet-text">
        <span id="username"></span> 님
    </span>
    <a id="my-page-text" href="javascript:moveMyPage()">
        마이페이지
    </a>
    <a id="login-text" href="javascript:logout()">
        로그아웃
    </a>
</div>


<div id="main">

</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/basic.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>