#main {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.container {

    width:50%;
    text-align: center;
}*/
.co-body {
    display: inline-block;
}

/* 버튼 컨테이너 너비는 페이지마다 다름 */
.profile-btn-container {
    width:260px;
}