.image {
    width:100%;
    height: 120px;
}
.myStore-top {
    display: flex;
}

.myStore-top h2,
.myStore-top button {
    display: inline-block;
    /*margin: 0px;*/
}

.remove-store {
    margin-left: 200px;
}
