<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Back Office</title>
  <link rel="stylesheet" href="/css/admin.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/admin.js"></script>
</head>
<body>
<header>
<!--  <nav>-->
<!--    <a href="#">Home</a>-->
<!--    <a href="#">Services</a>-->
<!--    <a href="#">About</a>-->
<!--    <a href="#">Contact</a>-->
<!--  </nav>-->
</header>

<section class="main-section">
  <a href="#" class="btn" onclick="getAdminToken()">Get Started</a>
</section>

<footer>
  <p>&copy; Back Office. All rights reserved.</p>
</footer>
</body>
</html>
<script>

</script>
