<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Back Office Main</title>
    <link rel="stylesheet" href="/css/adminMain.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/admin.js"></script>
</head>
<body>
<header>
      <nav>
          <li onclick="openAdmin('menu')">User</li>
          <li onclick="openAdmin('info')">Order</li>
          <li onclick="openAdmin('review')">Review</li>
      </nav>
</header>

<section class="main-section">

</section>

<footer>
    <p>&copy; Back Office. All rights reserved.</p>
</footer>
</body>
</html>