<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>

    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/basic.js"></script>
    <script src="/js/main.js"></script>
    <title>배달 사이트</title>
</head>
<body>
<div class="header" style="position:relative;">
    <div>
        다이아 배민
    </div>
    <!--headr-->
<!--    <div id="header-title-login-user">
        <span id="username"></span> 님의
    </div>-->
 <!--   <div id="header-title-select-shop">
        Select Shop
    </div>-->
    <span id="login-user-greet-text">
        <span id="username"></span> 님
    </span>
    <a id="my-page-text" href="javascript:moveMyPage()">
        마이페이지
    </a>
    <a id="login-text" href="javascript:logout()">
        로그아웃
    </a>
    <!--/headr-->
</div>
<div class="nav">
    <div class="nav-see active">
        카테고리
        <div id="divCategories">

        </div>
    </div>
</div>
<div id="see-area">
        <div><h1>피자</h1></div>
        <div>
            <ul>
                <li>
                    <span>사진</span>
                    <span>미스터피자</span>
                    <span>4.8</span>
                    <span>리뷰 83</span>
                </li>
                <li>
                    <span>사진</span>
                    <span>미스터피자</span>
                    <span>4.8</span>
                    <span>리뷰 83</span>
                </li>
                <li>
                    <span>사진</span>
                    <span>미스터피자</span>
                    <span>4.8</span>
                    <span>리뷰 83</span>
                </li>
                <li>
                    <span>사진</span>
                    <span>미스터피자</span>
                    <span>4.8</span>
                    <span>리뷰 83</span>
                </li>
            </ul>
        </div>
</div>

<input type="hidden" id="admin"/>
<input type="hidden" id="owner"/>
</body>
</html>